/* General */

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  background-image: linear-gradient(to bottom right, #1D538F, #9BDCDE);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  font-size: large;
  color: #9BDCDE;
  margin: 30px;
  font-size: large;
}

label {
  color: #9BDCDE;
  width: auto;
}

button {
  background-color: #FD7066;
  border-radius: 7px;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 4ms;
}

button:hover {
  background-color: #DD98AB;
}

/* Login */

.login-box {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: ghostwhite;
}

.login-box > label {
  float: left;
  color: midnightblue;
  width: 80%;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 16px;
}

.login-box > input {
  width: 80%;
  height: 20px;
}

.login-box > button {
  color: midnightblue;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  width: 40%;
}

.login-box > h3 {
  font-size: 32px;
}

#root::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}

#root::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}

.img-container {
  position: absolute;
  background-image: url(/public/jelly1.png), url(/public/jelly2.png), url(/public/jelly3.png), url(/public/jelly2.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top left,
  top right ,
  bottom right,
  bottom left;
  z-index: 99;
  pointer-events: none;
  margin: auto;
  width: 50%;
  aspect-ratio: 3/2;
}

/* Navbar */

.nav-container {
  border-radius: 12px;
  margin: 30px;
  height: 70px;
  background-color: #273155;
}

.nav-container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* Map */
.main-page {
  width: 50%;
  margin: auto;
}

.map-container {
  margin: auto;
  border: 4px solid rgb(35 55 75 / 90%);
  aspect-ratio: 3/2;
}

/* Mobile Sizing Overrides*/

@media (min-width: 320px) and (max-width: 999px) {

  .nav-container {
    margin: 0;
  }

  .main-page {
    width: 90%;
    margin: auto;
    margin-top: 25px;
  }

  .review-container {
    width: 90%;
  }

  .review-content {
    width: 80%;
  }

  .carousel-wrapper{
    max-width: 100%;
  }

  .slide-container {
    width: 90%;
  }

  .review-content {
    width: 90%;
    padding: 5px 0px;
  }


  .carousel {
    height: 30vh;
  }

  .each-slide-effect {
    height: 200px;
  }

  .img-container {
    width: 90%;
  }
  
  li > a {
    margin: 10px;
    font-size: medium;
  }

  li > label {
    margin-left: 10%;
    width: auto;
    font-size: 12px;
  }

  li > button {
    width: 30%;
    font-size: small;
  }

  .login-box {
    width: inherit;
  }
}

@media (min-width: 1000px) {

  .slide-container {
    width: 80%;
  }

  .review-container {
    width: 60%;
  }

  .review-content {
    width: 70%;
    padding: 20px 0px;
  }
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}