html {
  background-color: #9bdcde;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.login-box {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: #1D538F;
}

.img-container {
  position: absolute;
  background-image: url(/public/jellies.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
  pointer-events: none;
  width: 100vw;
  height: 60vh;
}

.nav-container {
  margin: 30px;
  background-color: #273155;
  padding: 20px;
}

.nav-container > a{
  font-size: large;
  color: #DD98AB;
  padding-right: 50px;
}

.slide-container {
  margin-top: 30px;
}

.carousel.carousel-slider {
  margin: auto !important; 
  background-color: #1D538F !important;
}

.review-container {
  margin: auto;
  margin-top: 20px;
  width: 60vw;
  border: 4px solid rgb(35 55 75 / 90%);
}

.review-content {
  padding: 20px 0px;
  margin: auto;
  width: 70%;
}

.review-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 350px;
}

button {
  background-color: #FD7066;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 4ms;
}

label {
  margin-top: 10px;
}

.rating {
  margin: 10px
}

button:hover {
  background-color: #DD98AB;
}

.review-form textarea {
  width: 90%;
  height: 100px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 2px groove rgb(35 55 75 / 90%);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.map-container {
  align-self: 3/2;
  margin: 50px 100px;
  border: 4px solid rgb(35 55 75 / 90%);
  height: 60vh;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}